@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #EAE5E3;
  --color-dark: rgba(0, 0, 0, 0.8);
  --color-muted: #64748b;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
